*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
}
body{
   width: 100%;
   height:100%; 
   font-family: monospace;
     padding: 1rem;
     background-color:#111;
 
   
}
main{
    width: 100%;
    height: 100%;
    padding: 1rem;
    background:linear-gradient(gray, black);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-direction: column;
}
.card{
    width: 100%;
    height: 7vw;
    background-color: #fff;
    padding: 4rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin-bottom: 10px;
   
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
img{
    width: 50px;
    border-radius: 50%;
}
.card h1{
    font-size: 2rem;
    font-weight: 400;
}
.card button{
    width: fit-content;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 1rem;
    background-color:#333;
    cursor: pointer;
    border:2px solid gray;
}
.card button:active{
    scale: 0.95;

}