*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    width: 100%; 
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;  
}
.btn{
    padding: 1rem 2rem;
    background-color: teal;
    border-radius: 1rem;
    border: 5px solid #FFF;
    color: #FFF;
    font-size: 1.5rem;
    position: relative;
    z-index: 5;
}
.btn:active{
    scale: 0.95;
}
