*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
    background-color: #111;
}
body{
   width: 100%;
   height:100%; 
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: monospace;
   
}
main{
    width: 60%;
    height: 40vh;
    background-color:#fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.top{
    width: 100%;
    padding: 1.5rem;
   
}
.top h1{
    font-size: 1.2rem;
}
.top span{
    color: blue;
    padding: 0.2rem;
}
.outer{
    width: 80%;
    height: 1rem;
    background-color: rgb(189, 183, 183);
    border-radius: 5px;
}
.inner{
    width: 0%;
    height: 1rem;
    background-color: green;
    border-radius: 5px;
}
.bottom{
    width: 100%;
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
}
.bottom h2{
    font-size: 2rem;
}
.bottom button{
    padding:0.5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color:green;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
button:active{
    scale: 0.95;
    cursor: pointer;
}
h3{
    font-size: 1rem;
    letter-spacing: 2px;
}