*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main{
    background-color:#111;
    opacity: 0.9;
    border-radius: 1rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
h1{
    font-size: 1.5rem;
    color: #fff;
}
h2{
    font-size: 2rem;
    padding: 2rem 4rem;
    border-radius: 1rem;
    background-color:black;
    border: 2px solid white;
    color: #fff;
}
h3{
    font-size: 1rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color:turquoise;
    color:#111;
}
button{
    background-color: teal;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #fff;
    border: 2px solid gray;
    border-radius: 1rem;
}
button:active{
    scale: 0.95;
}