*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-color:gainsboro;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    color: rgb(11, 61, 200);
}
h2{
    font-size: 5rem;
    background-color: #eff0ed;
    text-align: center;
    border-radius: 1rem;
}
button{
    background-color:transparent;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border:5px solid black;
    font-size: 2rem;
    border-radius: 1rem;
    font-family: monospace;
    cursor: pointer;
}
#inc:active{
    scale: 0.95;
    background-color: green;
    color: #eff0ed;
}
#dec:active{
    scale: 0.95;
    background-color: red;
    color: #eff0ed;
}