*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
    background-color:black;
}
body{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

@keyframes boxAnimated{
    from{
     background-color: rgb(244, 12, 170);
     border-radius: 20%;
     color: rgb(248, 251, 248);
    }
    
    to{
    background-color: #d3f608;
     border-radius:50%;
     transform: translateX(500px);
    color: rgb(0, 0, 0);
    }
    
}
.box{
    width: 15rem;
    height: 15rem;
    border: 2px solid white;
    animation: boxAnimated 5s infinite alternate;
    box-shadow: 0 0 5rem red;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

